POSTGRES_PASSWORD=robotdog_dev_2026
N8N_PASSWORD=n8n_admin_2026
ANTHROPIC_API_KEY=
GITEA_USER=admin
GITEA_TOKEN=
MATTERMOST_TOKEN=
MM_STATUS_CHANNEL_ID=
MM_APPROVAL_CHANNEL_ID=
MATTERMOST_URL=http://localhost:8065
MM_TEAM_ID=
MM_BOT_USER_ID=
N8N_API_KEY=
N8N_WORKFLOW_ID=
